
.button-comp-css {
  height:50px;
  width:180px;
}
.button-comp-css:hover {
  background-color:yellow;
  color:red;  
}
@media screen and (max-width: 1024px) {
    .button-comp-css {
      font-size: small;
    }
}

@media screen and (min-width: 1024px) {
    .button-comp-css {
      font-size: large;
    }
}