body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.button-one-css {
  height: 50px;
  width: 180px;
}

.button-one-css:hover {
  background-color: yellow;
  color: red;
}

@media screen and (max-width: 1024px) {
  .button-one-css {
    font-size: small;
  }
}

@media screen and (min-width: 1024px) {
  .button-one-css {
    font-size: large;
  }
}

@keyframes buttonAnimation {
  0% {
    background-color: red;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
  100% {
    background-color: green;
  }
}

.button-one-css {
  animation-name: buttonAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}